<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<title>游戏集锦</title>
		<!--<link rel="stylesheet" href="../../static/css/bootstrap.min.css" />-->
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/styles/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/styles/css/nav.css" />
		<!--<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">-->
		<style>
			.games-entry {
				max-width: 900px;
				margin: 20px auto 0;
				/*margin: 0 auto;*/
			}
			
			.entry-card {
				width: 260px;
				height: 240px;
				margin: 20px;
				border: 1px solid #e6ebf5;
				float: left;
				border-radius: 5px;
			}
			
			figure img {
				width: 100%;
				height: 160px;
			}
		</style>
		<!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
		<!--<script type="text/javascript" src="../../static/js/jquery.min.js"></script>-->
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript">
		</script>
	</head>

	<body>
		<!--导航条-->
		<div class="selfnav">
			<!--左侧logo及站名-->
			<div class="navleft">
				<img src="/images/logo.png" />
			</div>

			<!--右侧功能导航与个人中心-->
			<div class="navright">
				<!--右侧功能-->
				<ul class="nav-topic">
					<li id="item">
						<a id="nav-index" class="nav-active" href="/stu/index">首页</a>
					</li>
					<li id="item">
						<a id="nav-exams" href="/exam/">我要考试</a>
					</li>
					<li id="item">
						<a id="nav-exercise" href="/topic/">我要做题</a>
					</li>
					<li id="item">
						<a id="nav-scoreboard" href="/rank/">积分榜</a>
					</li>
					<li id="item">
						<a id="nav-games" href="/game/">玩游戏</a>
					</li>
					<li id="item">
						<!--我的和注销-->
						<span class="self">
								你好！
								<a href="#">$!{user.username}</a>
								<ul class="infomodels">
									<li>
						<a href="/self/">个人中心</a>
					</li>
					<li>
						<a href="/modify/">修改密码</a>
					</li>
					<li>
						<a href="/logout/">退出</a>
					</li>
				</ul>
				</span>
					</li>
				</ul>
			</div>
		</div>

		<!--主页内容-->
		<div class="page-body">
			<div class="stu-exams">

				<div class="games-entry">

					<!--逗逗鲸鱼-->
					<article class="entry-card" id="whale">
						<div class="entry-card-body">
							<a href="">
								<figure>
									<img src="/images/whale.png" />
								</figure>
								<div class="active-content"></div>
							</a>

							<header>
								<h2 class="entry-title">
								<a href="/games/whale">逗逗鲸鱼</a>
							</h2>
								<p></p>
							</header>
						</div>
					</article>

					<!--见缝插针-->
					<article class="entry-card" id="needle">
						<div class="entry-card-body">
							<a href="">
								<figure>
									<img src="/images/needle.png" />
								</figure>
								<div class="active-content"></div>
							</a>

							<header>
								<h2 class="entry-title">
								<a href="/games/needle">见缝插针</a>
							</h2>
								<p></p>
							</header>
						</div>
					</article>

					<!--别踩白块-->
					<article class="entry-card" id="block">
						<div class="entry-card-body">
							<a href="">
								<figure>
									<img src="/images/nowhite.png" />
								</figure>
								<div class="active-content"></div>
							</a>

							<header>
								<h2 class="entry-title">
								<a href="/games/nowhite">别踩白块</a>
							</h2>
								<p></p>
							</header>
						</div>
					</article>

				</div>
			</div>
		</div>

		<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://cdnjs.loli.net/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
		<!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->
		<!--<script src="http://www.jq22.com/jquery/angular-1.4.6.js"></script>-->
		<script type="text/javascript" src="/scripts/nav.js"></script>
		<script>
		</script>
	</body>

</html>