<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页</title>
</head>
<body>
<form id = "loginform" action = "test" method = "post">
    <table>
        <tr>
            <td>用户名:</td><td><input id = "username" name = "username"></td>
        </tr>
        <tr>
            <td>密码:</td><td><textarea id = "password" name = "password" cols = "18" rows = "1"></textarea></td>
        </tr>
        <tr>
            <td colspan = "2"><input type = "submit" value = "登陆"/><input type = "reset" value = "注册"/></td>
        </tr>
    </table>
</form>

</form>

</body>
</html>